services:
  postgres:
    image: postgres
    volumes:
      - ./resources/bank_relations.sql:/docker-entrypoint-initdb.d/bank_relations.sql
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "dbpwd123!"
    ports:
      - "5532:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 10

networks:
  default:
    driver: bridge
    name: erl_bank_api
