{erl_opts, [debug_info]}.
{deps, [
    {elli, "3.3.0"},
    {jsx, "3.1.0"},
    {epgsql, "4.8.0"},
    {poolboy, "1.5.2"}
]}.

{shell, [
    {apps, [erl_bank_api]}
]}.

{relx, [
    {release, {erl_bank_api, "1.0.0"}, [
        erl_bank_api,
	elli,
	jsx,
	epgsql,
	poolboy
    ]},
    {include_erts, true}
]}.
